// $primary-color: #171717;
// $secondary-color: #ffffff;
// $secondary-color-active: #ffffff;
// $secondary-color-inactive: #ffffff8d;

.main-header {
    .nav {
        display: flex;
        background-color: #171717;
        height: 45px;
        justify-content: end;
        flex-direction: column;
        transition: height .5s ease .25s;

        @media (min-width: 768px) {
            display: block;
        }
        
        .hamburger {
            position: absolute;
            top: 36px;
            right: 26px;
            color: #ffffff;
            background: none;
            border: none;

            @media (min-width: 768px) {
                display: none;
            }
        }

        .menu {
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5%;
            height: 100%;
            margin-top: 73px;
            opacity: 0;
            transition: visibility 3s linear, height 0.5s ease-out 2s, opacity .25s ease-out;
            
            @media (min-width: 768px) {
                flex-wrap: wrap;
                gap: 3%;
                margin-left: 10px;
            }
            
            li {
                display: flex;
                justify-content: center;
                max-height: 0;
                width: 170px;
                color: #ffffff7a;
                border: 1px solid rgb(242, 242, 242);
                transition: max-height .85s ease;
                
                @media (min-width: 768px) {
                    justify-content: flex-start;
                }
            }
            
            li:hover a,
            li a:focus {
                @media (min-width: 768px) {
                    color: #ffffff;
                }
            }
            
            a {  
                padding: 6px 0;
                display: block;
                list-style: none;
                text-decoration: none;
                color: #ffffff7a;
            }

            i {
                padding-left: 3px;
            }

            // Adding keyboard support (TAB)
            .submenu-category:hover > ul.submenu,
            .submenu-category:focus-within > ul.submenu {
                @media (min-width: 768px) {
                    display: initial;
                }
            }

            .submenu-category {
                position: relative;
                text-align: center;
            }

            .submenu-category ul li {
                @media (min-width: 768px) {
                    height: 45px;
                }
            }
            
            .submenu li a,
            ul.submenu.submenu-2 li a {
                display: block;
                padding: 13px 0;
                color: #ffffff7a;
            }

            // Adding keyboard support (TAB)
            .submenu li:hover a,
            ul.submenu.submenu-2 li:hover a,
            .submenu li a:focus,
            ul.submenu.submenu-2 li a:focus {
                @media (min-width: 768px) {
                    color: #ffffff;
                }
            }

            .submenu {
                width: max-content;
                min-width: 115px;
            }

            .submenu-1 {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #171717;
            }

            .submenu-2 {
                display: none;
                position: absolute;
                top: 0;
                left: 168px;
                background-color: #171717;
            }
        }
    }

    // Hamburger Menu Toggle Styles Start //
    .nav.active {
        height: 100vh;
        transition: height .5s ease;

        .menu {
            visibility: visible;
            //height: 100%;
            width: 100%;
            opacity: 1;
            transition: opacity .85s ease .35s;
            
            li {
                //height: auto;
                max-height: 450px;
                //width: 170px;
                border: 1px solid rgb(242, 242, 242);
                transition: max-height .5s ease;
                
                .submenu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    visibility: hidden;
                    max-height: 0;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    transition: visibility 2s linear, opacity .25s ease, max-height .35s ease-out;
                    
                    li {
                        border: none;
                    }
                }
            }

            a:active {
                color: #ffffff;
                transition: color .25s ease;
            }

            .submenu-category {
                flex-direction: column;
            }

            .submenu-category.active > .submenu
             {
                // These animations are terrible ;_; send help
                visibility: visible;
                max-height: 300px;
                opacity: 1;
                transition: visibility 2s linear, opacity .25s ease, max-height .3s ease;
            }

            .submenu-category.active > a {
                color: #ffffff;
            }
        }
    }
    // Hamburger Menu Toggle Styles End //
}