@use 'variables' as *;

#main-header {
    nav {
        background-color: $primary-color;
        height: 45px;

        #menu {
            height: 100%;
            display: flex;
            //justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            gap: 3%;

            li.submenu-category:hover > ul.submenu {
                display: initial;
            }

            .submenu-category {
                position: relative;
            }

            .submenu-1 {
                @extend %submenu;
                position: absolute;
                top: 100%;
                left: 0;
            }

            .submenu-2 {
                @extend %submenu;
                position: absolute;
                top: 0;
                left: 100%;
            }

            li:hover {
                color: $secondary-color-active;
            }

            li {
                list-style: none;
            }

            a {
                text-decoration: none;
                color: #fff;
            }

            i {
                padding-left: 3px;
            }
        }
    }
}
