#main-header {
    nav {
        #menu {
            display: flex;
            //justify-content: start;
            flex-wrap: wrap;
            gap: 3%;

            .submenu {
                display: none;
            }

            li {
                list-style: none;
            }

            a {
                text-decoration: none;
            }

            i {
                padding-left: 3px;
            }
        }
    }
}
